@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&family=Open+Sans:wght@400;600;700;800&display=swap');


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* header */
.header {
    background: url("../img/bg.png");
    background-size: cover;
    width: 1438px;
    height: 769px;
}

.header_title_2 {
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    padding: 41px 0;
    margin: 0;

    font-family: OpenSans;
    font-style: normal;
    letter-spacing: 0.188px;
}

.header_title_1 {
    color: #FFF;
    text-align: center;
    font-family: BebasNeueBold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;

    padding-top: 220px;
    margin: 0;
}

.header_title_5 {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding-top: 1px;
    margin: 0;
}

.header_title_6 {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;

    padding-top: 270px;
    margin: 0;
}

/* /header */

/* navbar */
.navbar {}

.container_navbar {
    display: flex;
    align-items: center;
    height: 65px;
}

.navbar_left {
    width: 50%;
}

.navbar_left_logo {
    background: url("../img/projeco-logo-black.png");
    background-size: cover;
    width: 60px;
    height: 13px;
}

.navbar_right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center
}

.navbar_right_home,
.navbar_right_about,
.navbar_right_services,
.navbar_right_work,
.navbar_right_contact {
    color: #48555B;
    text-align: center;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
}

.blue {
    color: #00A4E5;
}

hr {
    border: 1px solid #E6E6E6;
    margin: 0;
}

/* /navbar */

/* story */
.story {
    padding: 50px 0;
}

.story_left {}

.story_inner {
    display: flex;
    justify-content: center;
}

.story_left {
    max-width: 398px;
    margin-right: 50px;
}

.story_title_2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0;
}

.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto;
}

.story_title_3 {
    font-weight: bold;
    font-size: 20px;
}

.accent-color {
    color: #00A4E5;
}

.story_text {}

.story_right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.story_item {
    padding: 15px;
    font-size: 24px;
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}

.story_item:nth-child(1) {
    background-image: url(../img/Bitmap.png);
}

.story_item:nth-child(2) {
    background-image: url(../img/manage.png);
}

.story_item:nth-child(3) {
    background-image: url(../img/build.png);
    margin-right: 0;
}

/* services */
.services_block-top {
    display: flex;
    justify-content: space-between;
}

.services_h5 {
    width: 23%;
    margin: 0;
    color: #48555B;
    font-family: OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
}

.services_p {
    width: 55%;
    margin: 0;
    color: #48555B;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    /* 172.727% */
    letter-spacing: 0.2px;
}

.services_but {
    width: 15%;
    margin: 0;
}

.but {
    color: #FFF;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #00A4E5;
    border: #00A4E5;
    width: 120px;
    height: 30px;
}

/* /services */

/* /story */

@media screen and (max-width: 1400px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    .story_inner {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .story_right {
        flex-wrap: wrap;
    }

    .story_item {
        margin-bottom: 20px;
    }

    .story_item:nth-child(3) {
        margin-bottom: 0;
    }
}